@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--text--color--);
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border: 1px solid #c7c7c7;
    box-shadow: 0 4px 3px rgba(165, 165, 165, 0.25);
    position: relative;
}

.logo {
    width: 172px;
    height: 55px;
    margin-right: 20px;
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #000000;
}

.btn-dangtin {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn-dangtin:hover {
    background-color: rgba(0,136,169,0.8);
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

    .sub-menu-link .link-text {
        width: 100%;
    }

    .sub-menu-link .link-img {
        width: 40px;
        background: #e5e5e5;
        border-radius: 50%;
        padding: 8px;
        margin-right: 15px;
    }

    .sub-menu-link .span-right {
        font-size: 22px;
        transition: transform 0.5s;
    }

    .sub-menu-link:hover .span-right {
        transform: translateX(5px);
    }

    .sub-menu-link:hover .link-text {
        font-weight: 600;
    }

    /* Thanh tìm kiếm */
.wrapper {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
