@model List<DOAN_BDS.Models.Category>
<style>
    .ul-cate a{
        color: black;
    }
    .ul-cate {
        display: flex;
    }

    li {
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;
    }

    a:hover {
        color: var(--text-color--);
    }
</style>
<div class="ul-cate">
    @{ 
        foreach (var item in Model)
            {
                <div id="button">
                    <div class="button-value">
                        <div>
                            @Html.ActionLink(item.TenDanhMuc, "Index", "Properties", new { category = item.ID}, "")
                        </div>
                    </div>
                </div>
            }
    }
</div>

