
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanh toán thành công</title>
</head>
<body style="text-align:center">
    <div>
        <h2>Thanh toán thành công</h2>
        <td>
            <a style="font-size:17px" href="@Url.Action("Main", "Home")">Trở về trang chủ</a>
        </td>
    </div>
</body>
</html>

